name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Cache Deno dependencies
        run: deno cache mod.ts

      - name: Lint
        run: deno task lint

      - name: Format (check)
        run: deno fmt --check

      - name: Test
        run: deno task test
